{% extends "index.html" %}

{% block trending %}
<!-- Empty to override trending section -->
{% endblock %}

{% block content %}
<div class="container text-center" style="margin-top: 100px;">
    {% if no_data %}
        <h2 class="text-white">You haven’t searched for any books yet.</h2>
        <p><a href="/recommend" class="btn btn-info">Search for Books</a></p>
    {% else %}
        {% if clicked_book %}
            <h2 class="text-white">Because you clicked on <span style="color:orange">{{ clicked_book }}</span></h2>
            <h4 class="text-white mb-5">You might also like:</h4>
        {% else %}
            <h2 class="text-orange">Personalized Recommendations </h2>
        {% endif %}
        
        <div class="row">
            {% for book in data %}
            <div class="col-md-3" style="margin-top:50px">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ url_for('auth.track_click', book_title=book[0]) }}">
                            <img class="card-img-top" src="{{ book[2] }}" alt="Cover of {{ book[0] }}">
                        </a>
                        <p class="text-white" style="margin-top:15px;">{{ book[0] }}</p>
                        <h4 class="text-white">{{ book[1] }}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
