{% extends "index.html" %}

{% block trending %}
<!-- Override and remove trending section -->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-white" style="font-size:50px">Search Books</h1>
            <form action="/recommend_books" method="post">
                <input name="user_input" type="text" class="form-control" placeholder="Enter a book name or author"><br>
                <input type="submit" class="btn btn-lg btn-warning" value="Search">
            </form>
        </div>

        {% if data %}
            {% for i in data %}
                <div class="col-md-3" style="margin-top:50px">
                    <div class="card">
                        <div class="card-body">
                            <a href="{{ url_for('auth.track_click', book_title=i[0]) }}">
                                <img class="card-img-top" src="{{ i[2] }}" alt="Cover of {{ i[0] }}">
                            </a>
                            <p class="text-white">{{ i[0] }}</p>
                            <h4 class="text-white">{{ i[1] }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if no_results %}
            <div style="
                margin-top: 200px; 
                padding: 8px 12px; 
                background-color:black; 
                color: #f0f0f0; 
                border-radius: 5px; 
                font-weight: bold;
                max-width: 600px;
            ">
                No results found! Please try a different book title or author name.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
